.container-Footer {
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #272727;
}

.developedBy,
.rawg {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

.gitHubLink,
.rawgLink {
    text-decoration: none;
    font-weight: bold;
    transition: all 0.1s ease-in-out;

    color: #fff;

    &:hover {
        color: #553d68;
    }
}
