.container-sub-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2rem;
  justify-content: space-around;
}

.title-page {
  color: #fff;
  font-size: 3rem;
}

.container-search {
  position: relative;
}

.container-search > img {
  position: absolute;
  top: 10%;
  right: 1rem;
  width: 2rem;
  height: 2rem;
}

.container-search > input {
  height: 2.5rem;
  border: none;
  width: 100%;
  padding: 0.5rem;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 0.2rem;
  background-color: #272727;
  transition: all 0.1s;
}

.container-search > input:focus {
  outline: none;
  background-color: #383838;
}

.container-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.container-home {
  min-height: 100vh;
}

.card-container {
  height: 19rem;
  background-color: #272727;
  border-radius: 0.2rem;
  margin: 1rem;
  padding: 0;
  transition: all 0.1s;
}

.card-container:hover {
  transform: translateY(0.5rem);
}

.card-image {
  position: relative;
  width: 100%;
  height: 70%;
  border-radius: 0.2rem 0.2rem 0 0;
}

.card-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  border-radius: 0.2rem 0.2rem 0 0;
}

.card-info {
  height: 30%;
  width: 100%;
  padding: 0.1rem 0.5rem 0 0.5rem;
}

.card-title {
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
  margin: 0;
}

.card-description {
  font-size: 0.8rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 0.4rem;
}

.card-description-metacritic {
  font-size: 0.8rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 0.4rem;
  margin: 0;
}

.see-more-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.see-more {
  font-size: 0.6rem;
  font-weight: 600;
  margin-bottom: 0;
  color: #fff;
  cursor: pointer;
  transition: all 0.1s;
}

.see-more:hover {
  color: #706f6f9f;
}

.noData {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  margin-top: 2rem;
}
